<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h2>Customers</h2>
    <a href="{% url 'customer_create' %}">Add Customer</a>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>
                <a href="{% url 'customer_update' customer.pk %}">Edit</a>
                <a href="{% url 'customer_delete' customer.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>