{% extends 'inventory_app/base.html' %}
{% block content %}
<h1>Inventory & Billing System</h1>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Products</h5>
            <h2>{{ product_count }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Customers</h5>
            <h2>{{ customer_count }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Orders</h5>
            <h2>{{ order_count }}</h2>
        </div>
    </div>
</div>
{% endblock %}